/** fonts **/
@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/** basics **/

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 100%;
    line-height: 1.75;
}

/** font specs **/

p {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 100%;
    line-height: 1.75;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    margin: 0;
}

.font-size-1 {
    font-size: 3.062rem;
}

.font-size-2 {
    font-size: 2.438rem;
}

.font-size-3 {
    font-size: 1.938rem;
}

.font-size-4 {
    font-size: 1.562rem;
}

.font-size-5 {
    font-size: 1.250rem;
}

.font-size-6 {
    font-size: 1rem;
}

.font-size-7 {
    font-size: 0.821rem;
}

.font-size-8 {
    font-size: 0.625rem;
}

/** margins and paddings **/

/* vertical padding */

.v-pad-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.v-pad-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.v-pad-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.v-pad-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.v-pad-5 {
    padding-top: 5rem;
    padding-bottom: 5rrem;
}

.v-pad-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* box padding */

.b-pad-1 {
    padding: 1rem;
}

.b-pad-2 {
    padding: 2rem;
}

.b-pad-3 {
    padding: 3rem;
}

.b-pad-4 {
    padding: 4rem;
}

/** global styles **/

.white {
    color: #fff;
}

.centered {
    text-align: center;
}

ol, ul {
    list-style: none;
    padding: 0
}

a {
    color: #1e1e1e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: auto;
}

.btn {
    padding: .9rem 1.2rem;
    min-width: 110px;
    border-radius: 2rem;
    font-size: 1rem;
    margin-right: 1rem;
    text-decoration: none!important;
}

.btn.light {
    background: #fff;
    color: #1e1e1e;
}

.btn.dark {
    background: #0B748E;
    color: #fff;
}

.btn.light:hover {
    background: #1e1e1e;
    color: #fff;
    cursor: grab;
}

.btn.dark:hover {
    background: #1e1e1e;
    color: #fff;
    cursor: grab;
}

/** colorpicker **/

.colors {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.color {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
}

.chosen {
    border: 1px solid #1e1e1e;
}

.color.orange {
    background: orangered;
}

.color.green {
    background: green;
}

.color.red {
    background: red;
}

.color.black {
    background: black;
}

.color.gray {
    background: gray;
}

.color.brown {
    background: burlywood;
}

.color.lightblue {
    background: lightskyblue;
}

/** header & nav **/

header {
    height: 7rem;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

nav {
    margin: 1.8rem auto 0 3rem;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-right: auto;
    margin: 0;
}

nav li {
}

nav a {
    color: #1e1e1e;
    text-decoration: none!important;
    padding: .4rem;
}

nav a:hover {
    background: #1e1e1e;
    color: #fff;
}

/** nav utilities **/

.search {
    background: #fff;
}

.search input[type=search] {
    border-bottom: 1px solid #1e1e1e;
    padding: .4rem;
    width: 250px;
    font-size: 1rem;
    border: 0;
    border-bottom: 2px solid #0B748E;
    margin-top: 1.8rem;
    margin-right: 1rem;
}

.icons {
    margin-top: 2.4rem;
}

a.util-icon {
    width: 24px;
    height: 24px;
    margin-left: .5rem;
}

/* breadcrumbs */

.breadcrumbs span, .breadcrumbs a {
    color: #808080;
}

/** intro **/

.intro {
    max-width: 686px;
    margin: auto;
}

/** hero **/

.hero {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/** stories **/

.stories {
    width: 100%;
    padding: 4rem 0 0;
}

.stories-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}

.story {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex-basis: 50%;
    max-width: 50%;
    padding: 3rem;
    height: 24rem;
}

.storycontent {
    justify-content: center;
}

.waterproof {
    background-image: url(../images/waterproof-jackets.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lightweight {
    background-image: url(../images/lightweight-jackets.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/** product gallery **/

.products {
    width: 100%;
}

.related {
    background: #F2F2F2;
}

.product-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
}

.item {
    flex-basis: 23%;
    max-width: 23%;
    margin-bottom: 1rem;
}

.item-img {
    width: auto;
    padding: 1rem;
    background: #F2F2F2;
}

.related .item-img {
    background: #fff;
}

.item-img img {
    width: 100%;
}

/** product page **/ 

.product {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.product-image {
    background: #F2F2F2;
    padding: 2rem;
}

.product-description {
    max-width: 816px;
}

/** contact **/

.contact {
    display: flex;
    flex-direction: row;
    max-width: 816px;
    gap: 2rem;
    margin: auto;
    padding: 2rem 0 6rem
}

.option {
    background: #F2F2F2;
    text-align: center;
}

/** gallery **/

.container .gallery {
    display: flex;
}

.img-1 {

}

.img-2 {

}

.img-3 {

    background-color: #ccc;
    padding: 2rem;
}

.img-4 {

}

/** footer **/

footer {
    width: 100%;
    height: 4em;
    background: #053541;
    color: #fff;
}

footer a {
    color: #fff;
}

.footer-grid {
    display: grid;
    flex-direction: column;
    gap: 2rem;
    max-width: 1280px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem 0 2rem;
    align-items: center;
    grid-template-areas: "tagline returns contact";
    grid-template-columns:  1fr 1fr 1fr;
}

.page-footer-col-1 {
    grid-area: tagline;
}

.page-footer-col-2 {
    grid-area: returns;
}

.page-footer-col-3 {
    grid-area: contact;
}